<?xml version='1.0' encoding='utf-8'?>
<widget id="com.music.runner" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Music Runner</name>
    <description>
        Music app designed for runners by runners.
    </description>
    <author email="anlawande@gmail.com" href="http://cordova.io">
        Aniket Lawande
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="landscape" />
</widget>
